/* inlog.css */

.bg-rkz-blue {
  background-color: #ffffff !important; /* */
}

.logo {
  width: 10rem; /* */
  height: auto;
  border-radius: 1rem;
}

.h1-title {
  font-size: 2rem; /* */
  color: rgb(0, 0, 0);
  text-align: center;
}

.p-subtitle {
  font-size: 1.1rem; /* */
  color: rgb(0, 0, 0);
  text-align: center;
}

.login-box {
  background-color: #ffffff; /* */
  border-radius: 1.5rem;
  width: 100%;
  max-width: 400px;
}

#btn-login {
  background-color: rgb(224, 28, 28) !important; /* */
  color: white;
  border: none;
  padding: 0.6rem;
}

.warning-text {
  font-size: 0.8rem; /* */
  color: rgb(224, 28, 28);
  text-align: center;
  font-weight: bold;
}
