* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #7f98d3;
    color: rgb(0, 0, 0);
}

.login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 10rem;
    height: auto;
    margin-top: 1rem;
    border-radius: 1rem;
}

.h1 {
    margin-top: 1rem;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.p1 {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);

}

.login-box {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px #0000001a;
    width: 20rem;
    margin-bottom: 2rem;
}

.area {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 2rem;
    border-color: black;
}

#btn {
    background-color: rgb(224, 28, 28);
    color: #ffffff;
    padding: 0.5rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.h2 {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    color: rgb(224, 28, 28);
}