:root {
  /* changes blocks the changes of the background color */
  /* --page-bg: #f1f2f4;
  --card-bg: #f1f2f4; */

  /* **************8 */
  --header-blue: #1f5be3;
  --text-main: #1f2d3d;
  --text-muted: #7f8a9d;
  --line: #d9dde5;
  --icon: #9aa3b2;

  --stat-blue-bg: #dfe6f2;
  --stat-blue-text: #1f5be3;

  --stat-green-bg: #e2eee8;
  --stat-green-text: #0a9b4a;
}

.profile-card {
  background-color: var(--card-bg);
  border-radius: 0;
  border: none;
  box-shadow: none !important;
  overflow: hidden;
}

/* Give the color to the top bar or header of the page */
.bg-rkz-header {
  background-color: #1771d0;
  color: #fff;
  gap: 3.25rem;
  min-height: 5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  align-items: center;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.bg-rkz-header .text-white.fs-5 {
  margin-top: 0.35rem;
  font-weight: bold;
  font-size: 16px;
  font-family: sans-serif;
}

/* ******************************************** */

.avatar-circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.avatar-circle .avatar-icon {
  width: 32px;
  height: 32px;
  color: #1771d0;
}

.form-label {
  color: #6f7d93;
  font-size: 1.05rem;
  margin-bottom: 0.15rem;
  font-weight: 400;
  font-family: sans-serif;
}

.form-control[readonly] {
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: #000;
  font-size: 1.9rem;
  font-weight: 500;
  box-shadow: none;
  font-family: sans-serif;
}

.profile-content {
  padding-top: 1.25rem;
}

.info-row {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  margin-bottom: 18px;
}

.info-row .fs-4.text-dark {
  font-family: sans-serif;
  font-weight: 600;
}

.info-row i,
.info-row svg {
  color: var(--icon);
  width: 20px;
  height: 20px;
  margin-top: 3px;
}

.activity-divider {
  border-top: 1px solid var(--line);
  margin: 10px 0 18px 0;
}

.activity-title {
  color: #617089;
  font-size: 1.125rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-family: sans-serif;
}

.activity-cards {
  margin-top: 0;
}

.stat-card {
  border: none;
  border-radius: 12px;
  box-shadow: none !important;
}

.stat-blue {
  background-color: var(--stat-blue-bg);
}
.stat-blue h4 {
  color: var(--stat-blue-text);
}

.stat-green {
  background-color: var(--stat-green-bg);
}
.stat-green h4 {
  color: var(--stat-green-text);
}

.stat-card h4 {
  font-size: 2.25rem;
  margin-bottom: 0.25rem;
  font-weight: 800;
  font-family: sans-serif;
}

.stat-card p {
  margin-bottom: 0;
  font-size: 1.25rem;
  color: #36465c;
  font-weight: 600;
  font-family: sans-serif;
}

.btn-light {
  border: none;
}
